<footer  >
    <div class="f-info">
        <div class="f-info-social">
            <a href="mailto:aayushchouhan7050@gmail.com"><i class="fa-regular fa-envelope"></i></a>
            <a href="https://www.linkedin.com/in/aayush-chouhan"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/aayush-chouhan-7050"><i class="fa-brands fa-github"></i></a>
        </div>
        <div class="f-info-brand" >&copy;WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>